body {
    margin: 0;
    color: white;
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Open Sans';    
}

.container {
    display: flex;
    justify-content: space-around;
}

